#sign-up{

    height:20px;
    margin: 10px 0 18px  0;
}
input{
    width: 100%;
  
}
.img {
    border: 5px solid #555;
    border-radius: 50%;
}
.new-contact{
    text-align: center;
}
h2 {
    text-align: center
}

